html{
 background-color: lavender; 

}

h1 {
  color: #616161

}

h2{
  font-size: medium;
  color: #616161

}

.sidebarleft {
  width: 400px;
  float: left;
  height: 650px;
  border: 2px dotted lavender;
  box-sizing: content-box;
  margin: auto;
  padding: 170px;
  padding-top: 25px;
  background-color: lavender;
  color: #616161

}

img{
  max-width: 350px;
  height: auto;

}

h3{
  font-size: x-large;
}


.sidebarright {
  width: 400px;
  float: left;
  height: 650px ;
  border: 2px dotted lavender;
  box-sizing: content-box;
  margin: auto;
  padding: 170px;
  background-color: lavender;
  color: #616161
  
}

a {
  color: #616161;
  font-size: large;
  
}

.language {
font-size: x-small;

}


