.sidebarleft {
  width: 350px;
  float: left;
}

img{
  max-width: 350px;
  height: auto;
}


.sidebarright {
  width: fit-content;
  float: right;
  height: fit-content;
  border: 2px solid black;
  box-sizing: content-box;
  padding: 25px;
}